opengl-ga
.dep.inc
Makefile-opengl-ga.mk
nbproject/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
jpeg/.libs/
jpeg/*.lo
jpeg/*.o
jpeg/config.log
Makefile
jpeg/cjpeg
jpeg/djpeg
jpeg/jpegtran
jpeg/libjpeg.la
jpeg/rdjpgcom
jpeg/wrjpgcom
